[
  {
    "title": "Introduction to Data Mining",
    "author": "Tan, Pang-Ning",
    "edition": 2,
    "condition": "Gott",
    "price": 12995,
    "image": "1_REI502M.jpg",
    "status": "For sale",
    "date": "2001-10-01T22:16:12.901+0000",
    "subjects": "COMPUTERSCIENCE",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/1"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/1"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/1/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/1/messages"
      }
    }
  },
  {
    "title": "Data Mining: Practical Machine Learning",
    "author": "Witter, Ian H.",
    "edition": 4,
    "condition": null,
    "price": 9995,
    "image": "2_REI502M_2.jpg",
    "status": "For sale",
    "date": "1978-01-14T19:22:35.316+0000",
    "subjects": "COMPUTERSCIENCE",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/2"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/2"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/2/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/2/messages"
      }
    }
  },
  {
    "title": "Introduction To Programming In Java",
    "author": "SEDGEWICK, ROBERT.",
    "edition": 2,
    "condition": "New",
    "price": 14995,
    "image": "3_TÖL101G.png",
    "status": "For sale",
    "date": "2007-05-26T14:28:33.117+0000",
    "subjects": "COMPUTERSCIENCE",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/3"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/3"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/3/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/3/messages"
      }
    }
  },
  {
    "title": "Discrete Mathematics and It’s Applications",
    "author": "Rosen, Kenneth",
    "edition": 8,
    "condition": "New",
    "price": 11495,
    "image": "4_TÖL104G.jpg",
    "status": "For sale",
    "date": "1990-08-27T01:20:00.247+0000",
    "subjects": "COMPUTERSCIENCE",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/4"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/4"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/4/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/4/messages"
      }
    }
  },
  {
    "title": "Think Python: How to Think Like a Computer Scientist",
    "author": "Downey, Allen B.",
    "edition": 2,
    "condition": "New",
    "price": 5995,
    "image": "5_TOL105G.jpg",
    "status": "For sale",
    "date": "2015-02-21T23:00:32.411+0000",
    "subjects": "COMPUTERSCIENCE",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/5"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/5"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/5/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/5/messages"
      }
    }
  },
  {
    "title": "FIRST COURSE IN DATABASE SYSTEMS",
    "author": "ULLMAN, JEFFREY D.",
    "edition": 3,
    "condition": "New",
    "price": 11995,
    "image": "6_TOL303G.jpg",
    "status": "For sale",
    "date": "2007-05-13T17:12:32.087+0000",
    "subjects": "COMPUTERSCIENCE",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/6"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/6"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/6/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/6/messages"
      }
    }
  },
  {
    "title": "CONCEPTS OF PROGRAMMING LANGUAGES",
    "author": "SEBESTA, ROBERT W.",
    "edition": 11,
    "condition": "New",
    "price": 10395,
    "image": "7_TOL304G.jpg",
    "status": "For sale",
    "date": "1988-08-21T19:18:15.382+0000",
    "subjects": "COMPUTERSCIENCE",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/7"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/7"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/7/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/7/messages"
      }
    }
  },
  {
    "title": "COMPUTER NETWORKING",
    "author": "KUROSE, JAMES F.",
    "edition": 7,
    "condition": "New",
    "price": 12995,
    "image": "8_TOL305G.jpg",
    "status": "For sale",
    "date": "2017-11-06T02:35:25.340+0000",
    "subjects": "COMPUTERSCIENCE",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/8"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/8"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/8/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/8/messages"
      }
    }
  },
  {
    "title": "Computer Systems: A Programmer’s Perspective",
    "author": "Bryant, Randal E.",
    "edition": 3,
    "condition": "New",
    "price": 13795,
    "image": "9_TOL101G.jpg",
    "status": "For sale",
    "date": "1984-02-05T21:15:55.630+0000",
    "subjects": "COMPUTERSCIENCE",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/9"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/9"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/9/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/9/messages"
      }
    }
  },
  {
    "title": "STRUCTURAL AND STRESS ANALYSIS",
    "author": "MEGSON, T.H.G",
    "edition": 3,
    "condition": "New",
    "price": 12195,
    "image": "10_BYG201G.jpg",
    "status": "For sale",
    "date": "1995-05-28T11:29:56.209+0000",
    "subjects": "CIVILENGINEERING",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/10"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/10"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/10/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/10/messages"
      }
    }
  },
  {
    "title": "Principles of Geotechnical Engineering",
    "author": "Das, Braja",
    "edition": 9,
    "condition": "New",
    "price": 12995,
    "image": "11_BYG501G.jpg",
    "status": "For sale",
    "date": "2001-10-01T22:16:12.901+0000",
    "subjects": "CIVILENGINEERING",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/11"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/11"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/11/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/11/messages"
      }
    }
  },
  {
    "title": "PRINCIPLES OF HIGHWAY ENGINEERING AND TRAFFIC ANALYSIS",
    "author": "MANNERING, FRED L. & WASHBURN",
    "edition": 5,
    "condition": "New",
    "price": 10995,
    "image": "12_BYG503G.jpg",
    "status": "For sale",
    "date": "1995-09-01T07:48:52.735+0000",
    "subjects": "CIVILENGINEERING",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/12"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/12"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/12/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/12/messages"
      }
    }
  },
  {
    "title": "JURAN’S QUALITY MANAGEMENT AND ANALYSIS",
    "author": "DE FEO, JOSEPH A.",
    "edition": 6,
    "condition": "New",
    "price": 13995,
    "image": "13_IDN101M.jpg",
    "status": "For sale",
    "date": "2001-10-01T22:16:12.901+0000",
    "subjects": "Industrial_and_Mechanical_Engineering",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/13"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/13"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/13/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/13/messages"
      }
    }
  },
  {
    "title": "Modern Industrial Management",
    "author": "Engwall, Mats",
    "edition": 1,
    "condition": "New",
    "price": 11995,
    "image": "14_IDN103G.jpg",
    "status": "For sale",
    "date": "1996-03-27T00:11:37.557+0000",
    "subjects": "Industrial_and_Mechanical_Engineering",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/14"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/14"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/14/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/14/messages"
      }
    }
  },
  {
    "title": "TIME SERIES ANALYSIS: TEXTS IN STATISTIC",
    "author": "MADSEN, HENRIK",
    "edition": 1,
    "condition": "New",
    "price": 16995,
    "image": "15_IDN113F.jpg",
    "status": "Requested",
    "date": "1995-05-28T11:29:56.209+0000",
    "subjects": "Industrial_and_Mechanical_Engineering",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/15"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/15"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/15/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/15/messages"
      }
    }
  },
  {
    "title": "Method for Engineering Students",
    "author": "Blomkvist, Par",
    "edition": 1,
    "condition": "New",
    "price": 7695,
    "image": "16_IDN122F.jpg",
    "status": "Requested",
    "date": "1988-08-21T19:18:15.382+0000",
    "subjects": "Industrial_and_Mechanical_Engineering",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/16"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/16"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/16/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/16/messages"
      }
    }
  },
  {
    "title": "MANAGEMENT",
    "author": "DRUCKER, PETER F.",
    "edition": 0,
    "condition": "New",
    "price": 3895,
    "image": "17_IDN210F.jpg",
    "status": "Requested",
    "date": "2007-05-26T14:28:33.117+0000",
    "subjects": "Industrial_and_Mechanical_Engineering",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/17"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/17"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/17/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/17/messages"
      }
    }
  },
  {
    "title": "Fundamentals of Business Process",
    "author": "Dumas, Marlon",
    "edition": 2,
    "condition": "New",
    "price": 11995,
    "image": "18_IDN301G.jpg",
    "status": "Requested",
    "date": "1978-01-14T19:22:35.316+0000",
    "subjects": "Industrial_and_Mechanical_Engineering",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/18"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/18"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/18/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/18/messages"
      }
    }
  },
  {
    "title": "ELECTRIC CIRCUITS",
    "author": "ELECTRIC CIRCUITS",
    "edition": 1,
    "condition": "New",
    "price": 13995,
    "image": "19_RAF201G.jpg",
    "status": "Requested",
    "date": "1996-03-27T00:11:37.557+0000",
    "subjects": "Industrial_and_Mechanical_Engineering",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/19"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/19"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/19/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/19/messages"
      }
    }
  },
  {
    "title": "MICROELECTRONIC CIRCUITS",
    "author": "SEDRA, ADEL S.",
    "edition": 7,
    "condition": "New",
    "price": 12995,
    "image": "20_RAF403G.jpg",
    "status": "Requested",
    "date": "1995-09-01T07:48:52.735+0000",
    "subjects": "Industrial_and_Mechanical_Engineering",
    "_links": {
      "self": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/20"
      },
      "book": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/20"
      },
      "user": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/20/user"
      },
      "messages": {
        "href": "https://radiant-bayou-59420.herokuapp.com/books/20/messages"
      }
    }
  }
]
